 <!DOCTYPE html>
<html>
<head>
	<title>{{judul}} |BLOGERCO</title>

</head>
<body >
	<h1>{{subjudul}}</h1>
	<u1>
		
		{% for link,name in nav%}

			<li>
				
				<a href="{{ link }}">{{name}}</a>

			</li>
			

		{% endfor %}

		
	</u1>
	
	<p>Selamat datang di menu post BLOGERCO. Temukan hal-hal yang menarik dari postingan ini. Nikmati setiap kata yang tertulis sajak berirama. Dan hayati seluruh gambar yang diposting.</p>
 	<u>
 		<p><a href="/PostText">PostText</a></p>
		<p><a href="/PostImage">PostImage</a></p>
	</u>
		


	
</body>
</html>