<!DOCTYPE html>
<html>
<head>
	<title>{{judul}}  |BLOGERCO</title>
</head>
<body>
	<h1>{{subjudul}}</h1>

	<ul>
		{% for link,name in nav %}

			<li>
				<a href="{{link}}">{{name}}</a>
			</li>

		{% endfor %}

	</ul>

	<h2>Developer</h2>
		<p>Prangkat yang diprogram untuk memuat site/blog sendiri.Program yang dihasilkan bukan dari sekelompok orang tetapi ini dijadikan oleh seorang saja. Berharap website ini dapat digunakankan seperlunya. dalam website ini menu-menu menarik yang dapat anda buat sebagai postingan. Diantaranya posttext yang merupakan sebuah artikel untuk dimuat dari berbagai jenis karya tulis.Kemudian ada fitur postimage wadah untuk menampilkan gambar-gambar terbaik anda dengan memasukan deskripsi pada gambar tersebut. </p>

		<p> Leonardus Yogi Depin seorang mahasiswa teknik elektro di universitas Pamulang. Disamping ketertaikannya terhadap dunia elektro lebih khusus arus kuat. Ia juga gemar menjadi seorang programming, sehingga web ini yang yang berhasil dibuat olehnya. Ini adalah salah satu miminya yang telah terwujud. Karena berhadapan langsung antara dunia teknik eletro dan programming ini membuatnya lebih sulit  karena itulah dia berusaha kerja agar website ini dapat dimanfaatkan dengan baik.</p>
	<h2>Tujuan</h2>
		<p>Seorang ini telah mempulikasikan hasil programnya sendiri sementara bertujuan untuk mengembangkan ilmunya terhadap dunia programming. Sesaat ini situs BLOGERCO ini hanya dibuat untuk dirinya sendiri. Namun,ada harapan baginya suatu saat setelah banyak mengetahui dunia programming. Website ini akan diupdate untuk digunakan oleh semua orang. Sehingga ini menjadi wadah untuk menuagkan karya-karya terbaiknya.</p>
	<h2>Contact</h2>
		<p>{{contact}}</p>
</body>
</html>